<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reactpractice.lee.dao.BoardMapper">
    <resultMap id="board" type="com.reactpractice.lee.vo.BoardVO">
        <result property="boardKey" column="board_key"/>
        <result property="title" column="board_title"/>
        <result property="content" column="board_content"/>
        <result property="writer" column="user_key_fk"/>
        <result property="openYn" column="open_yn"/>
        <result property="registerDate" column="register_date"/>
    </resultMap>

    <insert id="insertBoard" parameterType="com.reactpractice.lee.vo.BoardVO" useGeneratedKeys="true" keyProperty="boardKey">
        insert into board
            (
                board_title ,
                board_content ,
                user_key_fk,
                open_yn,
                register_date
            )
            VALUES
            (
             #{title},
             #{content},
             #{writer},
             #{openYn},
             default
            )
    </insert>

    <select id="getBoard" parameterType="com.reactpractice.lee.vo.BoardVO" resultMap="board">
        SELECT * FROM board;
    </select>

    <select id="getBoardDetail" parameterType="int" resultMap="board">
        SELECT * FROM board WHERE board_key = #{boardKey}
    </select>

    <update id="updateBoard" parameterType="com.reactpractice.lee.vo.BoardVO">
        UPDATE board
            SET
                board_title = #{title},
                board_content = #{content},
                open_yn = #{openYn}
            WHERE board_key = #{boardKey}
    </update>

</mapper>
