<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reactpractice.lee.dao.UserMapper">
    <resultMap id="user" type="com.reactpractice.lee.vo.UserVO">
        <result property="userKey" column="user_key"/>
        <result property="id" column="id"/>
        <result property="pass" column="pass"/>
    </resultMap>

    <select id="findUserName" parameterType="String" resultMap="user">
        SELECT * FROM user
        WHERE id=#{id}
    </select>

    <update id="updatePass" parameterType="com.reactpractice.lee.vo.UserVO">
        UPDATE user
            SET pass = #{pass}
        WHERE user_key = #{userKey}
    </update>
</mapper>