<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="kr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>board insert</title>

  <!-- Jquery -->
<!--  <script src="/js/jquery.min.js"></script>-->

  <!-- Calendar -->
  <link rel="stylesheet" type="text/css" href="/css/daterangepicker.css" />

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
  <!-- <div data-include-path="menu.html"></div> -->
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h1 mb-2 text-black-100">게시글 상세페이지</h1>
        <p class="mb-4">게시글 등록 페이지입니다..</p>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-primary">게시글 등록</h3>
            <input type = "hidden" id = "adKey" value = "">
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                <tbody>
                <tr>

                  <td class="tg-4p5s">제목</td>
                  <td><input type="text" name="title" id="title"></td>
                  <td>작성자</td>
                  <td class="writer">작성자</td>
                </tr>
                <tr>
                  <td class="tg-4p5s">작성글 노출</td>
                  <td class="tg-4p5s">
                    <label class="slabel">
                      <input type="radio" class="btn_radio" name="main_open_yn" id="open" value="Y" >진행함
                    </label>
                    <label class="slabel">
                      <input type="radio" class="btn_radio" name="main_open_yn" id="" value="N" checked="checked">진행안함
                    </label>
                  </td>
                  <td class="tg-4p5s">작성일</td>
                  <td id="register_date"></td>
                </tr>
                <tr>
                  <td class="tg-l3xl tb-width">내용</td>
                  <td class="tg-l3xl tb-width2">
                    <textarea class="area_size" id="contents"></textarea>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="btn_sort">
              <button class="btn_search right" id="btn_insert">등록</button>
              <button class="btn_search right" id="btn_end_update" style="display:none">수정완료</button>
              <button class="btn_search right" id="btn_update" style="display:none">수정</button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->


<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>
<script src="/js/board.js"></script>
<script>
  board.init.boardInit(window.location.href);
</script>

</body>
</html>